body {

    margin: 0;
    background: #1C1C1C;
    color:#fff;
    font-family: "Karla", serif;

}

.container {
    padding: 50px 50px;
    background: #1F2937;
    margin: 0 auto;
   margin-top: 10%;
   width:600px;
    max-width:80%;
}
span {
    color: #10B981;;
}
button{
    margin: 20px 0;
    background: #10B981;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;

}
button:hover {
    cursor: pointer;
      background: #0d9d6d;
}

#password-container {
    display: flex;
    gap: 20px;
}
#password-one,
#password-two {
    background: #273549;
    /* outline: 1px solid white; */
    border-radius: 3px;
    height: 20px;
    width:150px;
    color: #0d9d6d;;

}